@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  outline: none;

  cursor: pointer;
}

body {
  font: 1em sans-serif;
  font-family: 'Inter';
  background-color: #F5F5F5;
}

.container {
  max-width: 1144px;
  margin: 0 auto;

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.houseChat {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 673px;

  @media (max-width: 801px) {
    flex-direction: column;
  }

  &__groups {
    background-color: #fff;

    &--search {
      padding: 18.5px 20px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      input {
        background: #F5F5F5;
        border-radius: 7px;
        
        padding: 11px;

        outline: none;
        border: none;

        width: 100%;

        font-weight: 400;
        font-size: 14px;
        line-height: 18px;

        padding-left: 38px;

        display: flex;
        align-items: center;

        color: #9E9E9E;
      }
    }
  }
}

.chatGroup  {
  display: flex;
  align-items: center;
  padding: 10px 25px;

  overflow: hidden;

  cursor: pointer;
  border-bottom: 1px solid #E5E5E5;

  transition: background-color .4s ease;

  &:hover {
    transition: background-color .4s ease;
    background-color: #F5F5F5;
  }

  &.current {
    transition: background-color .4s ease;
    background-color: #F5F5F5;
  }

  &__info {
    margin-left: 14px;

    &--title {
      font-weight: 500;
      font-size: 14px;

      max-width: 196px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      color: #111111;
    }

    &--message {
      max-width: 196px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;


      margin-top: 5px;

      font-size: 12px;
      font-weight: 500;
      color: #9E9E9E;
    }
  }

  &__indicators {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    &--time {
      font-size: 10px;
      font-weight: 500;
      color: #9E9E9E;
    }

    &--status {
      margin-top: 5px;

      &.messagesCount {
        font-weight: 500;
        font-size: 12px;
        color: #FFFFFF;

        padding: 1px 6px;
        background-color: #32A446;
        border-radius: 100px;

        display: flex;
        align-items: center;
        
        width: fit-content;

        margin-left: auto;
      }
    }
  }
}

.chatBody {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(123.81deg, rgba(255, 255, 255, 0.2) 0.91%, rgba(45, 170, 74, 0.2) 120.47%);

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 13px 22px;

    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__name {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.1px;

    margin-left: 16px;

    color: rgba(0, 0, 0, 0.87);
  }

  &__controls {
    & > button {
      transition: background-color .4s ease;
      border-radius: 50px;
      padding: 10px;

      &:hover {
        background-color: #F5F5F5;
        transition: background-color .4s ease;
      }
    }
  }

  &__messagesArea {
    padding: 30px 20px;
    padding-bottom: 0;
    margin-bottom: 20px;
  }

  &__messageControls {
    display: flex;
    justify-content: space-between;

    margin-top: auto;
    padding: 30px 20px;
  }

  &__message {
    position: relative;

    display: flex;
    align-items: center;
    width: 100%;

    margin: 0 16px;

    padding: 7px;
    background-color: #fff;
    border-radius: 100px;
  }
  &__messageInput {
    padding: 7px;
    width: 100%;

    margin-left: 16px;

    border: none;
    outline: none;
  }

  &__addFiles, &__voiceMessage {
    padding: 7px;
    border-radius: 100px;
    background-color: #fff;
  }
}

.chatBody__controls {
  position: relative;
}

.chatKebab {
  position: absolute;
  right: 0;
  top: 100%;

  min-width: 180px;

  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  pointer-events: none;

  transition: all .4s ease;
  &.shown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all .4s ease;
  }

  &__item {
    padding: 10px 14px;

    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.1px;

    color: rgba(0, 0, 0, 0.87);
    transition: background-color 0.4s ease;

    &:hover {
      background-color: #F5F5F5;
      transition: background-color 0.4s ease;
    }

    &:not(&:last-of-type) {
      border-bottom: 1px solid #E5E5E5;;
    }
  }
}

.searchBar, .infoBar {
  position: absolute;
  right: -1000px;
  top: -14px;

  width: 352px;
  height: 100vh;
  background-color: #fff;

  transition: right .6s ease;

  &.shown {
    right: -22px;
    transition: right .6s ease;
    z-index: 1;
  }

  &__head {
    position: relative;
    display: flex;
    align-items: center;

    padding: 18px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

      input {
        border-radius: 7px;
        
        padding: 11px;

        width: 287px;
        margin-left: auto;

        outline: none;
        border: none;

        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        border: 1px solid;

        display: flex;
        align-items: center;

        color: #9E9E9E;

        &:focus, &:hover {
          border: 1px solid;
        }
      }
  }

  &__body {
    padding: 24px;
    max-height: 600px;
    overflow: auto;

    .helperText {
      display: flex;
      justify-content: center;
      font-weight: 500;
      font-size: 12px;
      text-align: center;

      color: #9E9E9E;

      .roomName {
        margin-left: 5px;
      }
    }
  }
}

.infoBar {
  &__head {
    position: relative;
    display: flex;
    align-items: center;

    padding: 25.5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    font-weight: 600;
font-size: 18px;

color: rgba(0, 0, 0, 0.87);
  }
}

.infoBarClose {
  margin-right: 8px;
}

.searchBarClose {
  position: absolute;
  left: 11px;
}

.checkbox-ios {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;

  margin-left: auto;
}

.checkbox-ios input {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-ios label {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 22px;
  background-color: #e5e5e5;
  border-radius: 14px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.checkbox-ios label:before {
  content: '';
  position: absolute;
  top: 1px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 18px;
  transition: transform 0.3s;

  border: 0.5px solid #E5E5E5;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.checkbox-ios input:checked + label {
  background-color: #4CD964;
}

.checkbox-ios input:checked + label:before {
  transform: translateX(20px);
}

.infoBarGroup {
  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 14px;
  }
  &__members {
    font-weight: 400;
    font-size: 14px;
    text-align: center;

    color: #9E9E9E;
  }

  &__control {
    display: flex;
    align-items: center;

    padding: 10px;
    background: #F5F5F5;
    border-radius: 7px;
  
    width: 100%;

    span {
      margin-left: 8px;

      font-weight: 400;
      font-size: 14px;
      text-align: center;

      color: rgba(0, 0, 0, 0.87);
    }
  }

  &__tabs {
    margin-top: 30px;
    .flex-wrapper {
      border-bottom: 1px solid #E5E5E5;
    
    }
  }

  &__tab {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    margin-right: 15px;

    color: #9E9E9E;

    padding-bottom: 7px;

    &.current {
      color: #00A539;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        background: #00A539;
        border-radius: 10px 10px 0px 0px;
      }
    }
  }
}

.flex-wrapper {
  display: flex;
}

.tabArea {
  &__items {
    transition: background-color 0.4s ease;
    margin: 0 -24px;
    & > div {
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
     &:not(&:last-of-type) {
      border-bottom: 1px solid #E5E5E5;
    }
    &:hover {
      background-color: #F5F5F5;
      transition: background-color 0.4s ease;
    }
  }
  }
}

.invite {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px 12px 12px 24px;
  border-bottom: 1px solid #E5E5E5;
  width: 100%;
  text-align: left;

  font-weight: 500;
  font-size: 14px;

  color: #00A539;
}

.emojiContainer {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
    position: absolute;
    bottom: 118%;
    background: #fff;
    padding: 12px;
    border-radius: 18px;
    max-width: 200px;
    overflow: auto;
    max-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    transform: translateY(-10px);
    transition: all .4s ease;
    &.shown {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transition: all .4s ease;
      transform: translateY(0px);
    }
    .emoji {
      font-size: 24px;
    }
}

.preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(123.81deg, rgba(255, 255, 255, 0.2) 0.91%, rgba(45, 170, 74, 0.2) 120.47%);

  svg {
     animation: liftAndDrop 3s infinite alternate;
  }
}

.relative {
  position: relative;
}

.flex { 
  display: flex;
}

.align-center {
  align-items: center;
}

.searchIcon {
  position: absolute;
  left: 11px;
}

.justify-between {
  justify-content: space-between;
}

.grow-1 {
  flex-grow: 1;
}

.expandGroup {
  margin-left: 8px;
  transition: all 0.3s ease;

  @media(max-width: 801px) {
    display: none;
  }

}

.houseChat__groups {
  width: 353px;
  transition: width 0.3s ease;

  @media(max-width: 801px) {
    width: 100%;
    height: 100%;
  }
}

.collapsed {
  width: 87px;
  transition: width 0.3s ease;

  .expandGroup {
    transform: rotate(180deg);
    transition: all 0.3s ease;

    position: absolute;
    right: 10px;
    bottom: 28px;
  }

  .groupSearch {
    opacity: 0;
  }
}

@keyframes liftAndDrop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.outgoingMessage {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  align-items: flex-end;

  &__lead {
    background: #00A539;
    border-radius: 8px 0px 8px 8px;
    padding: 10px;
    color: #fff;

    max-width: 440px;
    word-break: break-word;
  }
  &__status {
    text-align: right;
  }

  &__time {
    margin-top: 8px;
    font-weight: 600;
  font-size: 12px;
color: #9E9E9E;
  }
}

.incomingMessage {
  display: flex;
  align-items: flex-end;

  &__avatar {
    margin-right: 12px;
  }
  &__lead {
    background: #FFFFFF;
    border-radius: 0px 8px 8px 8px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.87);

    max-width: 440px;
    word-break: break-word;
  }
  &__username {
    font-weight: 600;
font-size: 12px;
color: #FF8A00;
  }

  &__text {
    margin-top: 8px;
    line-height: 20px;
  }
  &__time {
    margin-top: 8px;
    font-weight: 600;
  font-size: 12px;
color: #9E9E9E;
  }
}

.chatBody__message--date {
  padding: 1px 6px;
    background-color: #ebebeb;
    margin-bottom: 12px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;

    span {
width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #9e9e9e;
    }
}